<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'VDB1ZJ4Y66',
	apiKey: 'e3b511c1213fea5772628fbab6e0ebfe',
	siteId: 'a3283328-f343-4872-a70f-521f68089e5d',
	branch: 'dev',
	selector: 'div#search',
  });
</script>

<script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.3/cloudinary-core-shrinkwrap.min.js" integrity="sha512-zpIZEIdMC7aqEtfANQa5YUaByqy1TGcoPsXbaFtlll8Ngb97Diyv1xLX4K5AW67kJY8KPCCAJ3qnKhJ90rUKFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>